body {
    text-align: center;
    width: 150px;
    font-family: system-ui;
}

button {
    width:60%;
    color: white;
    background: #4676D7;
    border-width: 0;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:focus {
  outline: none;
  background: #1d49aa;
  box-shadow: 0 0 0 2px #cbd6ee;
}
